<%= form_for movie do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :director %>
    <%= f.collection_select :director_id, Director.alphabetically, :id, :name, prompt: true %>
  </div>
  <div>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <%= f.submit movie.persisted? ? "Update" : "Create" %>
<% end %>