<%= form_for movie do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :director %>
    <%= f.text_field :director %>
  </div>
  <div>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <%= f.submit "Create" %>
<% end %>